# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / Rider
.vs/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

#screenshots
wideshot.png
approaching.png
army.png
spaceship.png